pre code {
  display: block;
  color: #e1e4e8;
  background: #24292e;
}
.hljs-keyword,
.hljs-operator,
.hljs-doctag,
.hljs-meta.keyword_ {
  color: #f97583;
}
.hljs-built_in,
.hljs-type,
.hljs-literal,
.hljs-number,
.hljs-property,
.hljs-char.escape_,
.hljs-subst,
.hljs-class,
.hljs-function,
.hljs-variable.language_,
.hljs-variable.constant_,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-title.function_,
.hljs-title.function_.invoke__,
.hljs-meta,
.hljs-tag,
.hljs-attr,
.hljs-attribute,
.hljs-formula,
.hljs-selector-id,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-template-variable {
  color: #79b8ff;
}
.hljs-punctuation,
.hljs-comment,
.hljs-meta.string_ {
  color: #6a737d;
}
.hljs-regexp {
  color: #dbedff;
}
.hljs-string {
  color: #9ecbff;
}
.hljs-symbol {
  color: #dbedff;
  font-style: underline;
}
.hljs-variable {
  color: #ffab70;
}
.hljs-title {
  color: #b392f0;
}
.hljs-params {
  color: #e1e4e8;
}
.hljs-meta.prompt_,
.hljs-section,
.hljs-bullet,
.hljs-code {
  color: #79b8ff;
  font-style: bold;
}
.hljs-name,
.hljs-quote,
.hljs-selector-tag,
.hljs-template-tag {
  color: #85e89d;
}
.hljs-emphasis {
  color: #e1e4e8;
  font-style: italic;
}
.hljs-strong {
  color: #e1e4e8;
  font-style: bold;
}
.hljs-link {
  font-style: underline;
}
.hljs-addition {
  color: #85e89d;
  background: #144620;
}
.hljs-deletion {
  color: #fdaeb7;
  background: #86181d;
}