pre code {
  display: block;
  color: #adbac7;
  background: #22272e;
}
.hljs-keyword,
.hljs-literal,
.hljs-number,
.hljs-operator,
.hljs-char.escape_,
.hljs-symbol,
.hljs-doctag,
.hljs-meta.keyword_ {
  color: #f47067;
}
.hljs-built_in,
.hljs-property,
.hljs-class,
.hljs-variable.language_,
.hljs-variable.constant_,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-attr,
.hljs-formula,
.hljs-selector-id,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-template-variable {
  color: #6cb6ff;
}
.hljs-type,
.hljs-variable,
.hljs-title,
.hljs-meta {
  color: #f69d50;
}
.hljs-punctuation,
.hljs-comment,
.hljs-meta.string_ {
  color: #768390;
}
.hljs-regexp,
.hljs-string {
  color: #96d0ff;
}
.hljs-subst,
.hljs-params,
.hljs-tag {
  color: #adbac7;
}
.hljs-function,
.hljs-title.function_,
.hljs-title.function_.invoke__ {
  color: #dcbdfb;
}
.hljs-meta.prompt_,
.hljs-section,
.hljs-bullet,
.hljs-code {
  color: #6cb6ff;
  font-style: bold;
}
.hljs-name,
.hljs-attribute,
.hljs-quote,
.hljs-selector-tag,
.hljs-template-tag {
  color: #8ddb8c;
}
.hljs-emphasis {
  color: #adbac7;
  font-style: italic;
}
.hljs-strong {
  color: #adbac7;
  font-style: bold;
}
.hljs-link {
  font-style: underline;
}
.hljs-addition {
  color: #8ddb8c;
  background: #113417;
}
.hljs-deletion {
  color: #ff938a;
  background: #5d0f12;
}