pre code {
  display: block;
  color: #A6ACCD;
  background: #0F111A;
}
.hljs-keyword,
.hljs-number,
.hljs-operator,
.hljs-selector-id {
  color: #F78C6C;
}
.hljs-built_in,
.hljs-emphasis {
  color: #f07178;
  font-style: italic;
}
.hljs-type,
.hljs-property,
.hljs-subst,
.hljs-variable,
.hljs-variable.language_,
.hljs-variable.constant_,
.hljs-meta,
.hljs-tag,
.hljs-name,
.hljs-selector-tag,
.hljs-template-tag,
.hljs-template-variable,
.hljs-deletion {
  color: #f07178;
}
.hljs-literal {
  color: #ff9cac;
}
.hljs-punctuation,
.hljs-meta.prompt_,
.hljs-section,
.hljs-bullet {
  color: #89DDFF;
}
.hljs-regexp,
.hljs-string,
.hljs-meta.string_,
.hljs-formula,
.hljs-addition {
  color: #C3E88D;
}
.hljs-char.escape_,
.hljs-symbol {
  color: #A6ACCD;
}
.hljs-class,
.hljs-function,
.hljs-title,
.hljs-title.class_,
.hljs-title.function_,
.hljs-title.function_.invoke__ {
  color: #82AAFF;
}
.hljs-title.class_.inherited__,
.hljs-selector-class,
.hljs-selector-pseudo {
  color: #FFCB6B;
}
.hljs-params {
  font-style: italic;
}
.hljs-comment {
  color: #464B5D;
  font-style: italic;
}
.hljs-doctag,
.hljs-attr,
.hljs-selector-attr {
  color: #C792EA;
}
.hljs-meta.keyword_,
.hljs-quote {
  color: #89DDFF;
  font-style: italic;
}
.hljs-attribute {
  color: #B2CCD6;
}
.hljs-code {
  color: #A6ACCD90;
}
.hljs-strong {
  color: #f07178;
  font-style: bold;
}
.hljs-link {
  font-style: underline;
}