pre code {
  display: block;
  color: #24292eff;
  background: #ffffff;
}
.hljs-keyword,
.hljs-punctuation,
.hljs-title,
.hljs-doctag,
.hljs-attribute {
  color: #D32F2F;
}
.hljs-built_in,
.hljs-literal,
.hljs-number,
.hljs-property,
.hljs-char.escape_,
.hljs-symbol,
.hljs-variable,
.hljs-variable.language_,
.hljs-variable.constant_,
.hljs-template-variable {
  color: #1976D2;
}
.hljs-type,
.hljs-operator,
.hljs-subst,
.hljs-meta,
.hljs-meta.prompt_,
.hljs-meta.keyword_,
.hljs-tag,
.hljs-bullet,
.hljs-quote,
.hljs-addition,
.hljs-deletion {
  color: #24292eff;
}
.hljs-regexp,
.hljs-meta.string_,
.hljs-name,
.hljs-link,
.hljs-selector-tag,
.hljs-template-tag {
  color: #22863a;
}
.hljs-string,
.hljs-code,
.hljs-formula {
  color: #2b5581;
}
.hljs-class,
.hljs-function,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-title.function_,
.hljs-title.function_.invoke__,
.hljs-attr,
.hljs-selector-id,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #6f42c1;
}
.hljs-params {
  color: #FF9800;
}
.hljs-comment {
  color: #c2c3c5;
}
.hljs-section,
.hljs-strong {
  font-style: bold;
}
.hljs-emphasis {
  font-style: italic;
}