pre code {
  display: block;
  color: #d8dee9ff;
  background: #2e3440ff;
}
.hljs-keyword,
.hljs-literal,
.hljs-operator,
.hljs-variable.language_,
.hljs-doctag,
.hljs-meta.keyword_,
.hljs-name,
.hljs-selector-tag,
.hljs-template-tag {
  color: #81A1C1;
}
.hljs-built_in,
.hljs-class,
.hljs-variable.constant_,
.hljs-title,
.hljs-title.class_,
.hljs-attr,
.hljs-attribute,
.hljs-selector-id,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #8FBCBB;
}
.hljs-type,
.hljs-subst,
.hljs-meta,
.hljs-tag {
  color: #5E81AC;
}
.hljs-number {
  color: #B48EAD;
}
.hljs-punctuation {
  color: #ECEFF4;
}
.hljs-property,
.hljs-variable,
.hljs-params {
  color: #D8DEE9;
}
.hljs-regexp,
.hljs-char.escape_ {
  color: #EBCB8B;
}
.hljs-string,
.hljs-meta.string_,
.hljs-addition {
  color: #A3BE8C;
}
.hljs-symbol,
.hljs-template-variable {
  color: #D8DEE9;
  font-style: bold;
}
.hljs-function,
.hljs-title.function_,
.hljs-title.function_.invoke__,
.hljs-section {
  color: #88C0D0;
}
.hljs-title.class_.inherited__ {
  color: #8FBCBB;
  font-style: bold;
}
.hljs-comment {
  color: #616E88;
}
.hljs-meta.prompt_,
.hljs-bullet,
.hljs-code,
.hljs-emphasis,
.hljs-strong,
.hljs-formula,
.hljs-link,
.hljs-quote {
  font-style: bold;
}
.hljs-deletion {
  color: #BF616A;
}