pre code {
  display: block;
  color: #abb2bf;
  background: #282c34;
}
.hljs-keyword,
.hljs-property,
.hljs-meta.keyword_,
.hljs-link {
  color: #c678dd;
}
.hljs-built_in,
.hljs-punctuation,
.hljs-variable,
.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-template-tag,
.hljs-template-variable,
.hljs-deletion {
  color: #e06c75;
}
.hljs-type,
.hljs-operator,
.hljs-subst,
.hljs-meta,
.hljs-tag,
.hljs-attribute {
  color: #abb2bf;
}
.hljs-literal,
.hljs-regexp,
.hljs-char.escape_,
.hljs-symbol,
.hljs-selector-pseudo {
  color: #56b6c2;
}
.hljs-number,
.hljs-doctag,
.hljs-attr,
.hljs-selector-class,
.hljs-selector-attr {
  color: #d19a66;
}
.hljs-string,
.hljs-meta.prompt_,
.hljs-meta.string_,
.hljs-formula,
.hljs-addition {
  color: #98c379;
}
.hljs-class,
.hljs-variable.language_,
.hljs-variable.constant_,
.hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-params,
.hljs-bullet,
.hljs-code,
.hljs-strong {
  color: #e5c07b;
}
.hljs-function,
.hljs-title.function_,
.hljs-title.function_.invoke__,
.hljs-selector-id {
  color: #61afef;
}
.hljs-comment,
.hljs-emphasis {
  font-style: italic;
}
.hljs-quote {
  color: #5c6370;
}