pre code.hljs {
  display: block;
  color:#dbd7caee;
  background:#222;
}
.hljs-keyword,
.hljs-literal,
.hljs-selector-tag,
.hljs-template-tag,
.hljs-meta.prompt_,
.hljs-tag {
  color: #4d9375;
}
.hljs-built_in,
.hljs-operator,
.hljs-property {
  color: #cb7676;
}
.hljs-type {
  color: #5da9a7;
}
.hljs-number {
  color: #4C9A91;
}
.hljs-punctuation,
.hljs-subst,
.hljs-meta,
.hljs-meta.keyword_,
.hljs-title.function_.invoke__ {
  color: #666666;
}
.hljs-regexp {
  color: #c4704f;
}
.hljs-string,
.hljs-symbol {
  color: #c98a7d;
}
.hljs-char.escape_,
.hljs-class,
.hljs-title,
.hljs-template-variable,
.hljs-variable.language_,
.hljs-variable.constant_,
.hljs-title.class_ {
  color: #c99076;
}
.hljs-function,
.hljs-title.function_,
.hljs-name {
  color: #80a665;
}
.hljs-variable,
.hljs-attribute,
.hljs-selector-id,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-title.class_.inherited__ {
  color: #bd976a;
}
.hljs-params {
  color: #dbd7caee;
}
.hljs-comment,
.hljs-meta.string_,
.hljs-attr,
.hljs-quote,
.hljs-doctag {
  color: #758575dd;
}
.hljs-section,
.hljs-code,
.hljs-formula,
.hljs-bullet {
  color: #4d9375;
  font-style: bold;
}
.hljs-emphasis {
  color: #dbd7caee;
  font-style: italic;
}
.hljs-strong {
  color: #dbd7caee;
  font-style: bold;
}
.hljs-link {
  color: #dedcd590;
  font-style: underline;
}
.hljs-addition {
  color: #85e89d;
  background: #144620;
}
.hljs-deletion {
  color: #fdaeb7;
  background: #86181d;
}