pre code.hljs {
  display: block;
  color: #f6f6f4;
  background: #282A36;
}
.hljs-keyword,
.hljs-char.escape_,
.hljs-symbol,
.hljs-name,
.hljs-selector-tag,
.hljs-selector-id,
.hljs-selector-class,
.hljs-selector-pseudo,
.hljs-template-tag {
  color: #f286c4;
}
.hljs-built_in,
.hljs-title.class_.inherited__ {
  color: #97e1f1;
  font-style: italic;
}
.hljs-type {
  color: #FFB86C;
}
.hljs-literal,
.hljs-variable,
.hljs-doctag {
  color: #f6f6f4;
}
.hljs-number,
.hljs-variable.constant_ {
  color: #bf9eee;
}
.hljs-operator,
.hljs-function,
.hljs-title.function_,
.hljs-title.function_.invoke__,
.hljs-meta.prompt_,
.hljs-bullet,
.hljs-code,
.hljs-formula,
.hljs-addition {
  color: #62e884;
}
.hljs-punctuation,
.hljs-link {
  color: #97e1f1;
}
.hljs-property,
.hljs-variable.language_,
.hljs-template-variable {
  color: #bf9eee;
  font-style: italic;
}
.hljs-regexp,
.hljs-string,
.hljs-title {
  color: #e7ee98;
}
.hljs-subst,
.hljs-comment,
.hljs-meta,
.hljs-meta.string_,
.hljs-tag {
  color: #7b7f8b;
}
.hljs-class,
.hljs-title.class_ {
  color: #97e1f1;
  font-style: normal;
}
.hljs-params {
  color: #FFB86C;
  font-style: italic;
}
.hljs-meta.keyword_ {
  font-style: bold;
}
.hljs-section {
  color: #bf9eee;
  font-style: bold;
}
.hljs-attr,
.hljs-selector-attr {
  color: #62e884;
  font-style: italic;
}
.hljs-attribute {
  font-style: regular;
}
.hljs-emphasis,
.hljs-quote {
  color: #e7ee98;
  font-style: italic;
}
.hljs-strong {
  color: #FFB86C;
  font-style: bold;
}
.hljs-deletion {
  color: #ee6666;
}