pre code.hljs {
  display: block;
  color: #24292e;
  background: #fff;
}
.hljs-keyword,
.hljs-operator,
.hljs-doctag,
.hljs-meta.keyword_ {
  color: #d73a49;
}
.hljs-built_in,
.hljs-type,
.hljs-literal,
.hljs-number,
.hljs-property,
.hljs-char.escape_,
.hljs-subst,
.hljs-class,
.hljs-function,
.hljs-variable.language_,
.hljs-variable.constant_,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-title.function_,
.hljs-title.function_.invoke__,
.hljs-meta,
.hljs-tag,
.hljs-attr,
.hljs-attribute,
.hljs-formula,
.hljs-selector-id,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-template-variable {
  color: #005cc5;
}
.hljs-punctuation,
.hljs-comment,
.hljs-meta.string_ {
  color: #6a737d;
}
.hljs-regexp,
.hljs-string {
  color: #032f62;
}
.hljs-symbol {
  color: #032f62;
  font-style: underline;
}
.hljs-variable {
  color: #e36209;
}
.hljs-title {
  color: #6f42c1;
}
.hljs-params {
  color: #24292e;
}
.hljs-meta.prompt_,
.hljs-section,
.hljs-bullet,
.hljs-code {
  color: #005cc5;
  font-style: bold;
}
.hljs-name,
.hljs-quote,
.hljs-selector-tag,
.hljs-template-tag {
  color: #22863a;
}
.hljs-emphasis {
  color: #24292e;
  font-style: italic;
}
.hljs-strong {
  color: #24292e;
  font-style: bold;
}
.hljs-link {
  font-style: underline;
}
.hljs-addition {
  color: #22863a;
  background: #f0fff4;
}
.hljs-deletion {
  color: #b31d28;
  background: #ffeef0;
}