  color: #A6ACCD

.hljs-keyword,
.hljs-number,
.hljs-operator,
.hljs-selector-id {
  color: #F78C6C;
}
.hljs-built_in,
.hljs-emphasis {
  color: #f07178;
  font-style: italic;
}
.hljs-type,
.hljs-class,
.hljs-function,
.hljs-title.class_,
.hljs-title.function_,
.hljs-name {
  color: #82AAFF;
}
.hljs-literal {
  color: #ff9cac;
}
.hljs-punctuation,
.hljs-title,
.hljs-section,
.hljs-meta.prompt_,
.hljs-bullet {
  color: #89DDFF;
}
.hljs-property {
  color: #B2CCD6;
}
.hljs-regexp,
.hljs-string,
.hljs-meta.string_,
.hljs-attr,
.hljs-code,
.hljs-formula,
.hljs-quote,
.hljs-addition {
  color: #C3E88D;
}
.hljs-char.escape_,
.hljs-symbol {
  color: #A6ACCD;
}
.hljs-subst,
.hljs-variable,
.hljs-meta,
.hljs-selector-tag,
.hljs-template-variable,
.hljs-template-tag,
.hljs-deletion,
.hljs-variable.language_,
.hljs-variable.constant_,
.hljs-title.function_.invoke__,
.hljs-tag {
  color: #f07178;
}
.hljs-params {
  font-style: italic;
}
.hljs-comment,
.hljs-doctag {
  color: #676E95;
  font-style: italic;
}
.hljs-meta.keyword_ {
  color: #89DDFF;
  font-style: italic;
}
.hljs-attribute,
.hljs-selector-attr {
  color: #C792EA;
}
.hljs-strong {
  color: #f07178;
  font-style: bold;
}
.hljs-link {
  font-style: underline;
}
.hljs-selector-class,
.hljs-selector-pseudo,
.hljs-title.class_.inherited__ {
  color: #FFCB6B;
}