pre code.hljs {
  display: block;
  color: #575279;
  background: #faf4ed;
}
.hljs-keyword,
.hljs-operator,
.hljs-char.escape_,
.hljs-symbol,
.hljs-doctag,
.hljs-meta.keyword_ {
  color: #286983;
}
.hljs-built_in,
.hljs-class,
.hljs-title.class_,
.hljs-meta.prompt_,
.hljs-name,
.hljs-attribute,
.hljs-bullet,
.hljs-code,
.hljs-formula,
.hljs-link,
.hljs-quote,
.hljs-selector-tag,
.hljs-template-tag,
.hljs-addition {
  color: #56949f;
}
.hljs-type,
.hljs-subst,
.hljs-params,
.hljs-meta {
  color: #907aa9;
}
.hljs-literal,
.hljs-number,
.hljs-function,
.hljs-title,
.hljs-title.function_,
.hljs-title.function_.invoke__ {
  color: #d7827e;
}
.hljs-punctuation {
  color: #797593;
}
.hljs-property,
.hljs-variable.language_,
.hljs-variable.constant_,
.hljs-tag,
.hljs-template-variable {
  color: #575279;
}
.hljs-regexp,
.hljs-string,
.hljs-meta.string_ {
  color: #ea9d34;
}
.hljs-variable {
  color: #d7827e;
  font-style: italic;
}
.hljs-title.class_.inherited__,
.hljs-attr,
.hljs-selector-id,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #907aa9;
  font-style: italic;
}
.hljs-comment {
  color: #9893a5;
  font-style: italic;
}
.hljs-section,
.hljs-strong {
  font-style: bold;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-deletion {
  color: #b4637a;
}