pre code.hljs {
  display: block;
  color: #839496;
  background: #002B36;
}
.hljs-keyword,
.hljs-operator,
.hljs-punctuation,
.hljs-meta.keyword_,
.hljs-attribute,
.hljs-quote,
.hljs-addition {
  color: #859900;
}
.hljs-built_in,
.hljs-char.escape_,
.hljs-symbol,
.hljs-class,
.hljs-title,
.hljs-title.class_ {
  color: #CB4B16;
}
.hljs-type,
.hljs-subst,
.hljs-meta,
.hljs-tag {
  color: #839496;
}
.hljs-literal,
.hljs-bullet {
  color: #B58900;
}
.hljs-number,
.hljs-emphasis,
.hljs-strong {
  color: #D33682;
}
.hljs-property,
.hljs-function,
.hljs-variable,
.hljs-variable.language_,
.hljs-variable.constant_,
.hljs-title.function_,
.hljs-title.function_.invoke__,
.hljs-name,
.hljs-selector-tag,
.hljs-template-tag,
.hljs-template-variable {
  color: #268BD2;
}
.hljs-regexp,
.hljs-meta.prompt_,
.hljs-code,
.hljs-link,
.hljs-deletion {
  color: #DC322F;
}
.hljs-string,
.hljs-meta.string_,
.hljs-formula {
  color: #2AA198;
}
.hljs-title.class_.inherited__ {
  color: #6C71C4;
}
.hljs-comment {
  color: #586E75;
  font-style: italic;
}
.hljs-doctag {
  color: #93A1A1;
  font-style: bold;
}
.hljs-section {
  color: #268BD2;
  font-style: bold;
}
.hljs-attr,
.hljs-selector-id,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #93A1A1;
}