pre code {
  display: block;
  color: #F8F8F2;
  background: #282A36;
}
.hljs-keyword,
.hljs-char.escape_,
.hljs-symbol,
.hljs-name,
.hljs-selector-tag,
.hljs-selector-id,
.hljs-selector-class,
.hljs-selector-pseudo,
.hljs-template-tag {
  color: #FF79C6;
}
.hljs-built_in,
.hljs-title.class_.inherited__ {
  color: #8BE9FD;
  font-style: italic;
}
.hljs-type {
  color: #FFB86C;
}
.hljs-literal,
.hljs-variable,
.hljs-doctag {
  color: #F8F8F2;
}
.hljs-number,
.hljs-variable.constant_ {
  color: #BD93F9;
}
.hljs-operator,
.hljs-function,
.hljs-title.function_,
.hljs-title.function_.invoke__,
.hljs-meta.prompt_,
.hljs-bullet,
.hljs-code,
.hljs-formula,
.hljs-addition {
  color: #50FA7B;
}
.hljs-punctuation,
.hljs-link {
  color: #8BE9FD;
}
.hljs-property,
.hljs-variable.language_,
.hljs-template-variable {
  color: #BD93F9;
  font-style: italic;
}
.hljs-regexp,
.hljs-string,
.hljs-title {
  color: #F1FA8C;
}
.hljs-subst,
.hljs-comment,
.hljs-meta,
.hljs-meta.string_,
.hljs-tag {
  color: #6272A4;
}
.hljs-class,
.hljs-title.class_ {
  color: #8BE9FD;
  font-style: normal;
}
.hljs-params {
  color: #FFB86C;
  font-style: italic;
}
.hljs-meta.keyword_ {
  font-style: bold;
}
.hljs-section {
  color: #BD93F9;
  font-style: bold;
}
.hljs-attr,
.hljs-selector-attr {
  color: #50FA7B;
  font-style: italic;
}
.hljs-attribute {
  font-style: regular;
}
.hljs-emphasis,
.hljs-quote {
  color: #F1FA8C;
  font-style: italic;
}
.hljs-strong {
  color: #FFB86C;
  font-style: bold;
}
.hljs-deletion {
  color: #FF5555;
}