pre code {
  display: block;
  color: #dbd7caee;
  background: #121212;
}
.hljs-keyword,
.hljs-literal,
.hljs-doctag,
.hljs-meta.prompt_,
.hljs-name,
.hljs-selector-tag,
.hljs-template-tag {
  color: #4d9375;
}
.hljs-built_in {
  color: #b8a965;
}
.hljs-type,
.hljs-punctuation,
.hljs-subst,
.hljs-meta,
.hljs-meta.keyword_,
.hljs-tag {
  color: #666666;
}
.hljs-number {
  color: #4C9A91;
}
.hljs-operator,
.hljs-attribute {
  color: #cb7676;
}
.hljs-property,
.hljs-char.escape_,
.hljs-variable.language_,
.hljs-variable.constant_,
.hljs-template-variable {
  color: #c99076;
}
.hljs-regexp {
  color: #c4704f;
}
.hljs-string,
.hljs-symbol {
  color: #c98a7d;
}
.hljs-class,
.hljs-title.class_ {
  color: #5da9a7;
}
.hljs-function,
.hljs-title,
.hljs-title.function_,
.hljs-title.function_.invoke__ {
  color: #80a665;
}
.hljs-variable,
.hljs-title.class_.inherited__,
.hljs-attr,
.hljs-selector-id,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #bd976a;
}
.hljs-params {
  color: #dbd7caee;
}
.hljs-comment,
.hljs-meta.string_ {
  color: #758575dd;
}
.hljs-section,
.hljs-bullet,
.hljs-code,
.hljs-formula {
  color: #4d9375;
  font-style: bold;
}
.hljs-emphasis {
  color: #dbd7caee;
  font-style: italic;
}
.hljs-strong {
  color: #dbd7caee;
  font-style: bold;
}
.hljs-link {
  color: #dedcd590;
  font-style: underline;
}
.hljs-quote {
  color: #5DA994;
}
.hljs-addition {
  color: #85e89d;
  background: #144620;
}
.hljs-deletion {
  color: #fdaeb7;
  background: #86181d;
}